{
  "swagger": "2.0",
  "info": {
    "title": "Organization",
    "description": "This is a organization api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "organization.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "organizationlication/json"
  ],
  "paths": {
    "organization/": {
      "get": {
        "summary": "retrieves all organizations",
        "description": "pulls all organizations, with filter by keyword",
        "operationId": "getOrganizations",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "organization response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/organization"
              }
            }
          }
        },
        "tags": [
          "organization",
          "organizationging"
        ]
      },
      "post": {
        "summary": "add organization",
        "description": "add a new organization",
        "operationId": "addOrganization",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name of the organization",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the organization",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the organization",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "organization response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/organization"
              }
            }
          }
        },
        "tags": [
          "organization",
          "organizationging"
        ]
      }
    },
    "organization/{slug}": {
      "get": {
        "summary": "Retrieve a organization using its slug",
        "description": "Returns the organization detail",
        "operationId": "getOrganization",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the organization, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "organization response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/organization"
              }
            }
          }
        },
        "tags": [
          "organization",
          "organizationging"
        ]
      },
      "put": {
        "summary": "update organization",
        "description": "update organization",
        "operationId": "updateOrganization",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the organization",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of the organization",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "description of the organization",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "url for the organization",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "organization response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/organization"
              }
            }
          }
        },
        "tags": [
          "organization",
          "organizationging"
        ]
      },
      "delete": {
        "summary": "delete organization",
        "description": "deletes an organization",
        "operationId": "deleteOrganization",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the organization",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "organization response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/organization"
              }
            }
          }
        },
        "tags": [
          "organization",
          "organizationging"
        ]
      }
    }
  },
  "definitions": {
    "organization": {
      "properties": {
        "name": {
          "description": "name of the organization",
          "type": "string",
          "format": "label"
        },
        "description": {
          "description": "description of the organization",
          "type": "string"
        },
        "url": {
          "description": "url for the organization",
          "type": "string"
        },
        "tags": {
          "description": "tags for the organization",
          "type": "string"
        },
        "slug": {
          "description": "slug for the organization",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
